#project_main_heading {
    font-size: 30px;
    font-weight: 500;
}

.card-img-top {
    padding: 10px;
    width: 100%;
}

.btn {
    background-color: teal;
}

#project_component img {
    border-radius: 20px;
}