
@media only screen and (max-width: 992px) {
   .main_DSA {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 88% !important ;
   }
}

@media all and (min-width: 992px) and (max-width :1400px) {
    .main_DSA {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 58% !important;
    }
}
