.skill img {
    margin-top: 5px;
}

.img_title {
    font-weight: 600;
    margin-top: 10px;
}

.card {
    box-shadow: 0 0 10px black;
}

.card:hover {
    cursor: pointer;
    box-shadow: 5px 0px 30px  black;
}
