.skill img {
    margin-top: 5px;
}

.img_title {
    font-weight: 600;
    margin-top: 10px;
}

.card {
    box-shadow: 0 0 10px black;
    /* border: 10px solid black;
    background-color: rebeccapurple; */
}

.card:hover {
    cursor: pointer;
    box-shadow: 5px 0px 30px  black;
}

.skill img {
    filter: drop-shadow(4px 4px 5px #000);
}